# The 9 most important functional requirement for the e-learning app are:

# 1.) It must be suitable for all type of users
# 2.) The app should have multiple language option
# 3.) Mobile Capability
# 4.) Certifications for course completeion
# 5.) It should include multiple payment plans
# 6.) It should be available to everyone
# 7.) Must include downloadable content
# 8.) It should include user tutorials on the functionalities of the app
# 9.) Users' informations and password should be properly protected
